################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BaseApplication/BaseApplication/obj
/BaseApplication/.vs/BaseApplication/v16
/BaseApplication/BaseApplication/bin/Debug/netcoreapp2.1
/BaseApplication/.vs/config
/BaseApplication/Database/obj/Debug
/BaseApplication/Database/bin/Debug
/BaseApplication/.vs/BaseApplication/DesignTimeBuild
/BaseApplication/Database/obj
/BaseApplication/packages
/BaseApplication/Repository/obj/Debug
/BaseApplication/Repository/bin/Debug
